html {
  background: #d5d5d8;
}

.container {
  background: #d5d5d8;
}

button {
  background-color: #14203e !important;
  border-radius: 26px !important;
  border: 2px solid #14203e !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-family: Roboto !important;
  font-size: 20px;
  font-weight: bold !important;
  padding: 10px 25px;
  text-decoration: none !important;
  text-shadow: 0px 1px 0px #14203e !important;
}

button:active {
  background-color: #434d65 !important;
  border-radius: 26px !important;
  border: 2px solid #14203e !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-family: Roboto !important;
  /* font-size: 20px; */
  font-weight: bold !important;
  /* padding: 10px 25px; */
  text-decoration: none !important;
  text-shadow: 0px 1px 0px #14203e !important;
}

h1 {
  /* position: absolute; */
  width: 170px;
  height: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}

h2 {
  /* position: absolute; */
  width: 350px;
  height: 23px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}
h3 {
  /* position: absolute; */
  width: 350px;
  height: 23px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;

  color: #000000;
}

p {
  /* position: absolute; */
  width: 37px;
  height: 19px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
}

.back {
  /* display: flex; */
  position: absolute;
  width: 47px;
  height: 49px;
  font-size: 30px;
  left: 17px;
  top: 56px;
  border-radius: 8px;
  vertical-align: middle;
}

.title {
  /* display: flex; */
  position: absolute;
  width: 281px;
  height: 49px;
  left: 78px;
  top: 56px;
  /* Gray/01 */
  border-radius: 8px;
}

.body {
  position: absolute;
  width: 343px;
  height: 654px;
  left: 17px;
  top: 117px;
  /* Gray/01 */

  /* background: #f6f6f6; */
  border-radius: 8px;
}
.calendar {
  width: 500px;
}

.calendar_default_corner {
  display: none !important;
}

.picture {
  width: 60px;
  height: 60px;

  background: #f6f6f6;
  border-radius: 8px;
}

.item-name {
  width: 283px;
  height: 29px;
  margin-left: 10px;

  /* background: #f6f6f6; */
  box-sizing: border-box;
  border-radius: 8px;
}

.quantity {
  width: 251px;
  height: 22px;
  margin-left: 10px;
  margin-top: 0px;

  /* background: #f6f6f6; */
  box-sizing: border-box;
  border-radius: 8px;
}

.action {
  width: 21px;
  height: 22px;
  margin-left: 10px;
  margin-top: 0px;

  background: #f6f6f6;
  box-sizing: border-box;
  border-radius: 8px;
}

.item {
  display: flex;
  padding-top: 10px;
  border-bottom: 2px solid #72798b;
  /* -webkit-tap-highlight-color: #72798b; */
  /* border-bottom: #14203e; */
}

.item:hover,
.item:active {
  display: flex;
  padding-top: 10px;
  border-bottom: 2px solid #72798b;
  /* border-bottom: #14203e; */
  background: #f6f6f6;
}

.subtext {
  display: flex;
}

.btn-cancel,
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:visited {
  background-color: #434d65 !important;
  border-radius: 26px !important;
  border: 2px solid #434d65 !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-family: Roboto !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 10px 25px !important;
  text-decoration: none !important;
  text-shadow: 0px 1px 0px #14203e !important;
}

.btn-ok,
.btn-ok:hover,
.btn-ok:active,
.btn-ok:visited {
  background-color: #aa767c !important;
  border-radius: 26px !important;
  border: 2px solid #aa767c !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-family: Roboto !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 10px 25px !important;
  text-decoration: none !important;
  text-shadow: 0px 1px 0px #14203e !important;
}

.modal-title {
  font-family: Roboto !important;
  font-size: 20px !important;
}

.modal-body {
  font-family: Roboto !important;
  font-size: 16px !important;
}
#main {
  border: 1px solid red;
  width: 280px;
  margin: 50px auto;
}

div.ex1 {
  width: 200px;
  position: relative;
  height: 100px;
}
div.table {
  width: 100%;
}

.edit-item-button {
  padding: 5px;
}

.proceed-button {
  padding: 10px;
}

.chat-header {
  position: absolute;
  width: 47px;
  height: 49px;
  left: 78px;
  top: 56px;

  /* Gray/01 */

  background: #f6f6f6;
  border-radius: 8px;
}

.received-message {
  padding: 10px;
  position: absolute;
  width: 245px;
  height: 101px;
  left: 17px;
  top: 133px;

  background: #14203e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.received-msg-text {
  width: 229px;
  height: 88px;
  left: 7px;
  top: 7px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
}

.received-msg-timestamp {
  position: absolute;
  width: 245px;
  height: 21px;
  left: 17px;
  top: 241px;
  /* Gray/01 */
  background: #f6f6f6;
  border-radius: 8px;
}

.sent-message {
  /* position: absolute; */
  width: 245px;
  height: auto;
  left: 110px;
  top: 133px;
  background: #434d65;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  box-sizing: border-box;

  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px;
}

.sent-text {
  position: absolute;
  /* display: inline; */
  width: 229px;
  height: auto;
  left: 110px;
  top: 133px;
  /* border: 1px solid #ffffff; */
  /* box-sizing: border-box; */
  /* border-radius: 8px; */
}

.sent-msg-timestamp {
  /* display: flex; */
  /* position: relative; */
  width: 245px;
  height: 21px;
  left: 110px;
  /* top: 391px; */
  /* Gray/01 */
  background: #f6f6f6;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  line-height: 15px;
  padding: 5px;
}

.chat-title {
  position: absolute;
  width: 220px;
  height: 49px;
  left: 139px;
  top: 56px;

  /* Gray/01 */

  background: #f6f6f6;
  border-radius: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}

.text-input {
  resize: none;
  display: flex;
  position: absolute;
  bottom: 10px;
  height: auto;
  width: auto;
  overflow: scroll;
}

.send-button {
  background-color: #14203e;
  display: inline;
  position: absolute;
  bottom: 10px;
  right: 2px;
  font-size: 15px;
  height: 35px;
  width: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  align-items: center;
  border-radius: 8px;
}

div.end {
  left: 15%;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

.sub {
  font-size: 20px !important;
}
