.input {
  height: 25px;
  width: 200px;
  flex: 0 0 200px;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.input-email {
  height: 25px;
  width: 200px;
  flex: 0 0 200px;
  margin-left: 27px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.input-password {
  height: 25px;
  width: 200px;
  flex: 0 0 200px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.input-age {
  height: 25px;
  flex: 0 0 200px;
  width: 50px;
  margin-left: 10px;
  margin-right: 80px;
  margin-top: 5px;
}

.input-checkbox {
  margin-right: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #14203e !important;
  border-radius: 26px !important;
  border: 2px solid #14203e !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-family: Roboto !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 10px 25px !important;
  text-decoration: none !important;
  text-shadow: 0px 1px 0px #14203e !important;
}
#main {
  border: 1px solid red;
  width: 280px;
  margin: 50px auto;
}

div.ex1 {
  width: 200px;
  position: relative;
  height: 100px;
}
div.table {
  width: 100%;
}

a {
  width: 350px !important;
  height: 20px !important;
  text-decoration: underline !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #434d65 !important;
  display: block !important;
}

.a-class{
  width: 350px !important;
  height: 23px !important;
  display: inline !important;
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 23px !important;

  color: #000000 !important;
}
h1 {
  width: 500px !important;
}
h2 {
  width: 500px !important;
}

.input-radio {
  margin-right: 20px;
}